body {
  background: #0a0a0a;
  color: #e0ffe0;
  font-family: Arial;
}

h2 {
  text-align: center;
}

table {
  width: 95%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #00ff7f;
  padding: 8px;
}

button {
  background: #00ff7f;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}