body {
    font-family: Arial, Helvetica, sans-serif;
    background: #060606;
    color: #d8ffe6;
    margin: 0;
    padding: 15px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 8px 12px;
    background: #000;
    border: 1px solid #00ff7f;
    color: #00ff7f;
    border-radius: 6px;
    cursor: pointer;
}
.btn:hover {
    background: #003319;
}

.status {
    margin: 10px 0;
    color: #b8ffd6;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 12px;
    margin-top: 12px;
}

.card {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0,255,110,0.1);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.card:hover {
    border-color: #00ff7f;
}

.thumb-folder {
    width: 100%;
    height: 100px;
    background: #111;
    border-radius: 6px;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 32px;
}

.thumb-video {
    width: 100%;
    height: 110px;
    background: #111;
    object-fit: cover;
    border-radius: 6px;
}

.title {
    margin-top: 6px;
    font-weight: bold;
    font-size: 14px;
    color: #c6ffe0;
}

.sub {
    font-size: 12px;
    color: #99ffbb;
}

.home-btn {
    cursor: pointer;
    transition: .15s;
}
.home-btn:hover {
    color: #00ff99;
}