body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #050505;
    color: #ccffe0;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 15px;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    padding: 7px 14px;
    border: 1px solid #00ff7f;
    background: #000;
    color: #00ff7f;
    border-radius: 6px;
    cursor: pointer;
}
.btn:hover {
    background: #004d26;
}

/* VIDEO PLAYER */
.player-box {
    width: 100%;
    background: #000;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0,255,100,0.3);
}

.player-box video {
    width: 100%;
    display: block;
}

/* PLAYLIST */
.playlist-container {
    padding: 10px;
    background: rgba(0,255,110,0.05);
    border-radius: 8px;
    border: 1px solid rgba(0,255,110,0.15);
    height: 260px;
    overflow-y: auto;             /* bikin scroll */
}

.playlist-title {
    margin-bottom: 8px;
    font-size: 16px;
    color: #b2ffc9;
}

.playlist-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.playlist-item {
    padding: 8px 12px;
    background: rgba(0,255,120,0.08);
    border-radius: 6px;
    cursor: pointer;
}
.playlist-item:hover {
    background: rgba(0,255,120,0.20);
}

.playing {
    border-left: 4px solid #00ff7f;
    font-weight: bold;
    background: rgba(0,255,120,0.25);
}