<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>BMS Logger</title>

    <link rel="stylesheet" href="/static/css/BMSadmin.css">
    <link rel="stylesheet" href="/static/css/BMS_logger.css">
</head>
<body>

<div class="section-box">
    <h2>[ 🧾 SYSTEM LOGGER ]</h2>

    <div class="log-box" id="logBox">
        Memuat log...
    </div>

    <br>

    <button onclick="loadLog()">Reload Log</button>
    <button onclick="clearLog()">Clear Log</button>

</div>

<script src="/static/js/BMS_logger.js"></script>
</body>
</html>