<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>BMS Downloader Admin</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/BMS_downlod_admin.css') }}">
</head>
<body>

<h2>BMS Downloader – Admin</h2>

<table id="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tipe</th>
      <th>Judul</th>
      <th>File</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<script src="{{ url_for('static', filename='js/BMS_downlod_admin.js') }}"></script>
</body>
</html>