<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMS - User Manager</title>

    <link rel="stylesheet" href="/static/css/BMS_user_list.css">
</head>
<body>

<h2 class="title">👥 Manajemen User</h2>

<div id="notif"></div>

<table class="user-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Role</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody id="userBody">
        <!-- Auto Load dari JS -->
    </tbody>
</table>

<script src="/static/js/BMS_user_list.js"></script>
</body>
</html>