<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>BMS Register</title>
    <link rel="stylesheet" href="/static/css/BMS_welcome.css">
    <link rel="stylesheet" href="/static/css/begron/BMS_jellyfish_begron.css">
</head>
</head>
<body>



<div class="register-container">
    <h2>Daftar Akun Baru</h2>

    <form method="POST">

        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <label>Pilih Role</label>
        <select name="role">
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select>

        <button type="submit" class="btn">Register</button>

        <a href="/auth/login" class="back-link">Sudah punya akun? Login</a>
    </form>
</div>

<script src="/static/js/BMS_welcome.js"></script>
</body>
</html>