<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Login - BMS</title>
    <link rel="stylesheet" href="/static/css/BMSadmin.css">
</head>
<body>

<div class="section-box" style="max-width:400px;margin:auto;margin-top:80px;">

    <h2>[ 🔐 LOGIN ADMIN ]</h2>

    <form action="/auth/login" method="POST">

        <label>Username:</label>
        <input type="text" name="username" class="input-text" required>

        <label>Password:</label>
        <input type="password" name="password" class="input-text" required>

        <br><br>
        <button type="submit">Masuk</button>
    </form>
</div>

</body>
</html>