<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN TERMINAL - BAGUS MEDIA SERVER</title>

    <!-- BACKGROUND MATRIX -->
    <link rel="stylesheet" href="/static/css/begron/BMSmatrik_begron.css">

    <!-- STYLE ADMIN -->
    <link rel="stylesheet" href="/static/css/BMSadmin_home.css">
</head>
<body>

<canvas id="matrixCanvas"></canvas>

<!-- ===========================
     LOGO CARD
=========================== -->
<div class="logo">
    <div class="logo-title">[BMS]</div>
    <div class="logo-sub">Bagus Media Server</div>
</div>


<!-- ===========================
     TOOLS ADMIN CARD
=========================== -->
<div class="section-title">(🛠)TOOLS ADMIN:</div>

    <div class="tools-grid">
        <button class="btn tool" onclick="location.href='/user/home'">Media</button>
        <button class="btn tool" onclick="location.href='/profile'">Profile</button>
        <button class="btn tool" onclick="location.href='/admin/user-list'">User list</button>
        <button class="btn tool" onclick="location.href='/upload/ui'">Unggah File</button>
        <button class="btn tool" onclick="location.href='/bms/downlod/ ui'">⬇️ Download Media</button>
        <button class="btn tool" onclick="location.href='/filemanager/ui'">File Manager</button>
        <button class="btn tool" onclick="location.href='/update/ui'">System Update</button>
        <button class="btn tool" onclick="location.href='/system/gui'">System Info</button>
</div>

<!-- ===========================
     POWER CONTROL CARD
=========================== -->
<div class="section-title">(⚡)POWER CONTROL:</div>

    <div class="tools-grid">
        <button class="btn danger" onclick="shutdownServer()">Shutdown Server</button>
        <button class="btn warn" onclick="restartServer()">Restart Server</button>
</div>

<script src="/static/js/begron/BMSmatrik_begron.js"></script>

<script src="/static/js/BMSadmin_home.js"></script>

<div class="footer-space"></div>

<!-- FOOTER -->
<div class="footer-sticky">
    © {{ current_year }} — [BMS]<br>
    dibuat karena kegabutan melanda <br> 😊😁😆😅🙏🙏👍
</div>

</body>
</html>