<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMS Home</title>

    <!-- LINK CSS -->
    <link rel="stylesheet" href="/static/css/BMSuser_home.css">
</head>
<body>

<div class="home-box">

    <!-- LOGO -->
    <div class="home-logo">
        <h1 class="logo-text">[ BMS ]</h1>
        <p class="logo-sub">Bagus Media Server</p>
    </div>

    <hr class="home-line">

    <!-- MENU UTAMA -->
<div class="home-menu">
    <a href="/profile/" class="home-item">👤 Profil Saya</a>
    <a href="/video/" class="home-item">🎬 Media Video</a>

    <!-- MEDIA MP3 -->
    <a href="/mp3/" class="home-item">🎵 Media MP3</a>

    <!-- 🔽 DOWNLOAD MEDIA (BARU) -->
    <a href="/bms/downlod/ui" class="home-item">⬇️ Download Media</a>
</div>

    <!-- FOOTER -->
    <div class="home-footer">
        <p>© 2025 Bagus Media Server</p>
        <p>Powered by BMS Framework</p>
    </div>
</div>

<!-- SCRIPT JS -->
<script src="/static/js/BMSuser_home.js"></script>

</body>
</html>